@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--font-body: 'Rubik', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #1C1C28;
	--color-bg-1: #555770;
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #008DFF;
	--color-theme-2: #4075a6;
	--color-text: #f7f7f7;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);

	--solana-primary: #161B19;
	--solana-secondary: #1E2423;
	--solana-accent: #1DD79B;
	--solana-grey: #5b5f5d;

	--white: #f5f5f5;
	--gray-1: #f5f5f5bb;
	--gray-2: #f5f5f577;
	--green: #06C270;
	--red: #FF3B3B;
	--blue: #008DFF;

	--line-color: #4D4F68;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	max-width: 64rem;
	margin: 0 auto;
	box-sizing: border-box;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.text-center {
	text-align: center;
}

.grid {
	display: grid;
	background: #1e2423;
	border-radius: 8px;
	box-shadow: 0 0.75rem 1.5rem rgb(20 24 22 / 50%);
	border-color: #111;
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: 30px;
}

.grid-header {
	display: contents;
	background-color: #141816;
}

.grid-header div {
	background-color: #141816;
	margin: 0;
	color: rgb(105, 133, 130);
	margin-bottom: 20px;
}

.row {
	display: contents;
	border-bottom: 10px solid green;
}

.grid h2 {
	padding-left: 20px;
}

.grid-header .name {
	padding-left: 0;
}

.grid div {
	padding-left: 20px;
}

.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
}

.text-clr-green {
	color: #33a382;
}

.text-clr-red {
	color: rgba(255, 0, 0, 0.5);
}

.bg-text {
	margin-left: 5px;
	margin-bottom: 10px;
	display: inline-block;
	border-radius: 5px;
	padding: 4px;
}

.bg--grey {
	background: #712c71;
	color: rgb(250, 98, 252);
}

.bg--is-mut {
	background: #116939;
	color: #26e97e;
}

.bg--is-signer {
	background: #1e5159;
	color: #43b5c5;
}

.line {
	grid-column: 1 / -1;
	height: 2px;
	border-bottom: 1px solid #282d2b;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
}

.pd-lt-0 {
	padding-left: 0 !important;
}

.grid-span {
	grid-column: 1/-1;
}

/* TABS */
.tabs__list {
	flex-shrink: 0;
	margin-top: 20px;
	display: flex;
	border-bottom: 1px solid #282d2b;
}

.tabs__trigger {
	background-color: transparent;
	border: none;
	color: #86b8b6;
	margin-right: 20px;
	padding-bottom: 40px;
	transition: all 0.3s;
}

.tabs__trigger:active {
	color: blue;
}

.tabs__trigger:hover {
	cursor: pointer;
	color: #698582;
}

.tabs__trigger:focus {
	position: relative;
	outline: none;
	color: white;
	border-bottom: 1px solid #26e97e;
}

/* HOME */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	list-style-type: none;
}

ul a {
	text-decoration: none;
	color: var(--solana-accent);
}

/*
*	Dialog
*/
.dialog__trigger {
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	background: transparent;
	border-radius: 5px;
}

.dialog__overlay {
	background-color: black;
	opacity: 0.3;
	position: fixed;
	inset: 0;
}
.dialog__content {
	background-color: #28293d;
	border-radius: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 450px;
	max-height: 85vh;
	padding: 25px;
	z-index: 99;
	color: var(--white);
}
.dialog__content.large {
	max-width: 600px;
}
.dialog__title {
	color: var(--white);
	font-size: 1.5rem;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dialog__exit {
	color: var(--gray-2);
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.dialog__exit:hover {
	color: var(--white);
}
.dialog__close {
	color: var(--green);
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.dialog__close[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

/*
*	Select
*/
.select__trigger {
	display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 13px;
    line-height: 1;
    height: 35px;
    gap: 5px;
    background-color: #32334C;
    color: var(--white);
	border: none;
	cursor: pointer;
}
.select__trigger:hover {
    background-color: #3C3D5B;
}
.select__trigger:focus {
    box-shadow: 0 0 0 2px var(--white);
}
.select__trigger .placeholder {
    color: var(--gray-2);
}
.select__icon {
    color: #eceff4;
}

.select__content {
    overflow: hidden;
    background-color: #32334C;
    border-radius: 5px;
    z-index:999;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
        0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}
.select__viewport {
    padding: 5px;
}

.select__item {
	font-size: 13px;
	line-height: 1;
	color: var(--white);
	border-radius: 5px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 35px 0 25px;
	position: relative;
	cursor: pointer;
}
.select__item[data-disabled] {
	color: magenta;
	pointer-events: none;
}
.select__item[data-highlighted],
.select__item:hover {
	outline: none;
	background-color: #3C3D5B;
}
.select__indicator {
	position: absolute;
	left: 0;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--green);
}

/*
*	Checkbox
*/
.checkbox__container {
	display: flex;
	align-items: center;
	gap: 8px;
}

.checkbox__box {
	background-color: #32334C;
	width: 16px;
	height: 16px;
	display: flex;
	border-radius: 2px;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	cursor: pointer;
}

.checkbox__box[aria-disabled="true"] {
	cursor: not-allowed;
	user-select: none;
	background-color: var(--color-bg-0);
}

.checkbox__box:hover {
	background-color: #3C3D5B;
}

.checkbox__container label {
	color: var(--white);
}

.checkbox__container input[aria-disabled="true"] + label {
	color: var(--gray-2);
}

.checkbox__indicator {
	  color: var(--white);
}

.checkbox__indicator, .checkbox__indicator > svg {
	width: 16px;
	height: 16px;
}

/*
*	Production/Summary information
*/
.production {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 10px;
}

.production .multiline {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.production .multiline > h5 {
	text-transform: uppercase;
	color: var(--gray-2);
	margin: 0;
	font-weight: 400;
	font-size: 14px;
}

.production .multiline > p {
	color: var(--white);
	margin: 0;
	font-size: 12px;
}

.production .multicol {
	display: flex;
	gap: 40px;
	align-items: center;
}

.production .iconline {
	display: flex;
	gap: 10px;
	align-items: center;
}

.production .iconline span {
	color: var(--white);
	font-size: 12px;
}

.production .author {
	text-decoration: underline;
}

.production .iconline svg {
	width: 16px;
	height: 16px;
	color: var(--gray-2);
	margin: 0;
}

/*
*	Details Accordion
*/

.details.accordion__container {
	width: 100%;
}

.details .accordion__item {
	overflow: hidden;
}

.accordion__item:focus-within {
	position: relative;
	z-index: 1;
}
  
.details .accordion__trigger {
	width: 100%;
	display: flex;
	padding: 0 15px;
	outline: none;
	border: none;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	color: var(--white);
	font-size: 15px;
	cursor: pointer;
}

.details .accordion__trigger[aria-expanded="true"], .details .accordion__trigger:hover {
	background: #28293d;
}

.details .accordion__trigger .title {
	display: flex;
	align-items: center;
	padding: 20px 0;
	gap: 10px;
}

.details .accordion__trigger .info {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--blue);
}

.details .accordion__trigger .info span {
	color: var(--gray-2);
}

.details .accordion__trigger .info.success {
	color: var(--green);
}

.details .accordion__trigger svg {
	width: 18px;
	height: 18px;
	transition: transform 0.4s ease-in;
}

.details .accordion__trigger[aria-expanded="true"] svg:nth-of-type(1) {
	transform: rotateZ(90deg);
}

.details .accordion__content {
	background: #32334C;
	overflow: hidden;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.details .accordion__content .text {
	padding: 10px 20px;
}

.details .accordion__content .none {
	color: var(--gray-2);
	font-weight: 300;
}